{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 2 versions", "safari >= 7"]
                }
            }
        ],
        "react"
    ],

    "sourceMaps": true,
    "plugins": [["es2015", { "modules": false }], "react-hot-loader/babel"]
}
