# Directories
node_modules
coverage
dist
pids
logs
results
tmp
lib-cov

# Debugger for Chrome cache
.vscode/chrome

# Files
*debug.log.*
*.log
*.seed
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

# Build
public/css/main.css

# API keys and secrets
.env

# OS metadata
.DS_Store
Thumbs.db
