@charset "utf-8";

.login-header {
    margin:0px;
    padding:0px;
}

#game-input-container > button {
    width: auto;
    padding:6px;
    margin:2px;
    background:none;
    /*
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-image:url("./img/koma.png");
    */
    border:1px;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}

#game-input-container > canvas {
    width: 48px;
    height: 48px;
}

#game-main{
    position: relative;
    width: 440px;
    height: 440px;
}
#canvas-game-info, #canvas-game-field {
    position:absolute;
    top:0px;
    left:0px;
}

#canvas-game-info {
    z-index:2;
}

#notify-message-box {
    width:440px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    margin-bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index:3;
}

#login-error-msg {
    color:#f55;
}

/* 選択動作を防止するために推奨されるスタイル */
image, canvas {
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
}

/* チャットメッセージ */
#robby-msg-list, #room-msg-list {
  overflow-y: scroll;
}

#robby-msg-list {
    height:100px;
}

#room-msg-list {
    height:300px;
}

/* ロビーユーザ一覧を1行で表示するために必要 */
.user-info-name, .user-info-roomid, .user-info-playing
{
    display: inline-block;
}

.user-info-roomid {
    margin-left:4px;
}

.user-info-playing {
    margin-left:4px;
}

/* チャットメッセージを、1行で表示するために必要 */
/* .robby-msg > div, .room-msg > div これでもいける*/ 
.msg-header, .msg-separator, .msg-text {
    display: inline-block;
}

.msg-separator {
    margin-left: 2px;
    margin-right: 4px;
}

/* :not(selector) を使えば、テキスト部分だけ色を変えるとかできる */
/*error message*/
.e {
    color:#f55;
}

/*warning message*/
.w {
    color:#fa5;
}

/*information message*/
.i {
    color:#55f;
}

/* footerにボタンを表示するための設定 */
.footer-button-left {
    position: absolute;
    margin: 0;
    top: 0px;
    bottom: auto;
    left: 10px;
}

.footer-button-right {
    position: absolute;
    margin: 0;
    top: 20px;
    bottom: auto;
    right: 10px;
}

.notify-offline > canvas, p {
    display: inline-block;
}

/* Swipe works with mouse as well but often causes text selection. */
/* We'll deny text selection on everything but INPUTs and TEXTAREAs. */
#room-page :not(INPUT):not(TEXTAREA) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Hide the number input */
.sound-volume-slider input {
    display: none;
}
.sound-volume-slider .ui-slider-track {
    margin-left: 15px;
}