// -------------------------
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

#react>div {
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    p,
    ul {
        margin-bottom: 0;
    }
}
